/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

body{
    font-family: "Montserrat", sans-serif;
    background-color: var(--bg-body);
}

:root{
    --h1-color:#ff9614;
    --bg-body:#f6f5f3;
    --purple-title:#4e3969;
}

/* *****************/
/* common */
/* *****************/
.row{
    display: flex;
    justify-content: space-between;
}

.wrap{
    flex-wrap: wrap;
}

li{
    list-style: none;
    color: inherit;
}

/* *****************/
/* header */
/* *****************/

h1{
    font-family: "Nerko One", cursive;
    color: var(--h1-color);
    font-size: 3.5rem;
    text-align: center;
    padding: 20px;
}
.bg-h1{
    background-color: white;
    width: 100%;
    height: 100px;
}

/* *****************/
/* main */
/* *****************/

.container-main{
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
    
    
}

h4{
    color: grey;
   font-weight: 400;
}

.main-title{
    color: var(--purple-title);
    font-weight: 800;
    font-size: 1.7rem;
}

.none{
    display: none;
}

.container-recipe{
    width: 100%;

    border: 2px solid red;
}
iframe{
    width: 100%;
    height: 280px;
    padding-top:20px ;
}
.recipe-title{
    font-size: 1.5rem;
    padding-bottom: 30px ;
}

.video-col{
    width: 100%;
    height: 370px;
}

.recipe-col{
    width: 100%;
    padding: 30px 60px 60px 30px;
}

.recipe-col li{
    padding-top:15px ;
}
.recipe-col .row{
    justify-content: flex-start;
}

.col-3{
    width: 100%;
    
}
/* *****************/
/* footer */
/* *****************/